body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0%;
}
#color-header{
    color: rgb(238, 169, 65);
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.intro-section{
    height: 600px;
    margin-top: 80px;
}
.third-section{
    height: 550px;
    background-image: url(images/shapes/shape-1.png);
    background-position:left;
    background-repeat: no-repeat;
    background-size: 15%;
}
.fourth-section{
    height: 500px;

}
.fifth-section{
    height: 600px;
    background-image: url(images/shapes/shape-7.png);
    background-size: 40%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding: 2%;
}
.half-width img{
    width: 60%;
    margin-left: 7%;
}
.header-border{
    border-left: 4px solid;
    border-color: rgb(238, 169, 65);
    border-image-slice: 1;
    padding: 0px 0px 0px 10px;
}
.explore-button{
    color: white;
    background-color: rgb(238, 93, 93);
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}
.mission-header{
    text-align: center;
}
.second-section{
    width: 100%;
    height: 600px;
}
.container-flex{
    display: flex;
    width: 100%;
    justify-content: center;
}
.mission-box{
    margin: 0px 5px;
    width: 22%;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}
.mission-box img{
    width: 30%;
    height: 150px;
}
#blue{
    background-color: rgb(211, 238, 247) ;
}
#pink{
    background-color: rgb(250, 221, 226);
}
#green{
    background-color: rgb(202, 236, 202);
}
.coding{
    width: 40%;
    float: left;
    margin-right: 6%;
}
.coding img{
    width: 60%;
    margin-left: 250px;
}
.project{
    width: 40%;
    float: left;
    margin-left: 150px;
}
.project img{
    width: 60%;
}
.app{
    width: 40%;
    float: left;
}
.app img{
    width: 50%;
    height: 500px;  
    margin-left: 250px;

}
footer{
    text-align: center;
    background-color: rgb(9, 3, 26);
    color: white;
    padding: 15px 0;
}

