body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
}
#color-header{
    color: #0dca72;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
footer{
    text-align: center;
    background-color: rgb(12, 6, 27);
    color: white;
    padding: 5px 0;
}
footer p{
    color: rgb(173, 172, 172);
}

/*Intro-Section*/
.intro-section{
    height: 650px;
    margin-top: 60px;
}
.intro-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding: 2%;
}
.intro-width img{
    width: 70%;
    margin-left: 7%;
}
.header-border{
    border-left: 4px solid;
    border-color: #0dca72;
    border-image-slice: 1;
    padding: 0px 0px 0px 10px;
}
.explore-button{
    color: white;
    background-color: #fa9129; 
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

/*mission-section*/
.second-section{
    width: 100%;
    height: 600px;
}
.mission-header{
    text-align: center;
    padding-bottom: 20px;
}
.second-width{
    display: flex;
    width: 100%;
    justify-content: center;
}
.mission-box{
    margin: 0px 15px;
    width: 20%;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
}
.mission-box img{
    width: 45%;
    height: 110px;
}
#blue{
    background-color: rgb(215, 215, 253) ;
}
#pink{
    background-color: rgb(255, 217, 238);
}
#green{
    background-color: rgb(212, 255, 212);
}

/*coding-section*/
.third-section{
    height: 550px;
}
.coding{
    width: 40%;
    float: left;
    margin-right: 6%;
}
.coding img{
    width: 60%;
    margin-left: 250px;
}

/*presentation-section*/
.fourth-section{
    height: 550px;
}
.project{
    width: 40%;
    float: left;
    margin-left: 120px;
}
.project img{
    width: 60%;
}

/*project-section*/
.fifth-section{
    height: 850px;
}
.app{
    width: 40%;
    float: left;
    margin-left: 50px;
}
.app img{
    width: 80%;
    height: 520px;  
    margin-left: 80px;
    box-shadow: rgb(248, 248, 248) 10px 0px 100px;

}
#app-header{
    margin-top: 80px;
    margin-right: 50px;
}




