body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
#color-header{
    color: #FFAD5A;
}
h1{
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-size: 40px;
}
footer{
    text-align: center;
    background-color: rgb(9, 3, 26);
    color: white;
    padding: 15px 0;
}
footer p{
    color: rgb(173, 172, 172);
}
#footer-header{
    color: #FF5959;
}



/*Intro Section*/
.intro-section{
    height: 600px;
    margin-top: 60px;
}
.intro-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding: 2%;
}
.intro-width img{
    width: 70%;
    margin-left: 7%;
}
.header-border{
    border-left: 4px solid;
    border-color: #FFAD5A;
    border-image-slice: 1;
    padding: 0px 0px 0px 10px;
}
.explore-button{
    color: white;
    background-color: #FF5959;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}



/*Mission Section*/
.second-section{
    width: 100%;
    height: 600px;
}
.mission-header{
    text-align: center;
    padding-bottom: 20px;
}
.second-width{
    display: flex;
    width: 100%;
    justify-content: center;
}
.mission-box{
    margin: 0px 15px;
    width: 22%;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
}
.mission-box img{
    width: 30%;
    height: 110px;
}
#blue{
    background-color: rgb(241, 241, 253) ;
}
#pink{
    background-color: rgb(255, 235, 246);
}
#green{
    background-color: rgb(215, 255, 215);
}




/*Develop Section*/
.third-section{
    height: 550px;
}
.coding{
    width: 40%;
    float: left;
    margin-right: 6%;
}
.coding img{
    width: 60%;
    margin-left: 250px;
}


/*Project Section*/
.fourth-section{
    height: 500px;

}
.project{
    width: 40%;
    float: left;
    margin-left: 150px;
}
.project img{
    width: 60%;
}


/*App Section*/
.fifth-section{
    height: 850px;
}
.app{
    width: 40%;
    float: left;
    margin-left: 50px;
}
.app img{
    width: 90%;
    height: 570px;  
    margin-left: 80px;
    box-shadow: rgb(248, 248, 248) 10px 0px 100px;

}
#app-header{
    margin-top: 80px;
    margin-right: 50px;
}
#color2-header{
    color: #28c77d;
}





